

            <div class="container accordion-section container--sm faqs items"   style="background-color:  #f5fcff;">
        <h2 class = "faq-heading">FAQs</h2>
         <span class = "faq-description">Frequently Asked Questions</span>
          <div class = "accordion-container">
            <div class = "item accordion">
                <h2 class="  "><div class="mr-15 accordion-title"><span>What color can I choose?</span></div> </h2>
                <div class="answer">
                    <div class="rte  pt-10 pb-30">
                        Lorem ipsum began as scrambled, nonsensical Latin derived from Cicero's 1st-century BC text De Finibus Bonorum et Malorum.
                    </div>
                </div>
            </div>
                        <div class = "item accordion">
                <h2 class="  "><div class="mr-15 accordion-title"><span>What if I want a sign that I can't create using your custom tool?</span></div> </h2>
                <div class="answer">
                    <div class="rte  pt-10 pb-30">
                         Lorem ipsum began as scrambled, nonsensical Latin derived from Cicero's 1st-century BC text De Finibus Bonorum et Malorum.
                    </div>
                </div>
            </div>
                        <div class = "item accordion">
                <h2 class="  "><div class="mr-15 accordion-title"><span>How do I hang / wall mount my neon light?</span></div> </h2>
                <div class="answer">
                    <div class="rte  pt-10 pb-30">
                        Lorem ipsum began as scrambled, nonsensical Latin derived from Cicero's 1st-century BC text De Finibus Bonorum et Malorum.
                    </div>
                </div>
            </div>
                        <div class = "item accordion">
                <h2 class="  "><div class="mr-15 accordion-title"><span>What if my sign is damaged in transit?</span></div> </h2>
                <div class="answer">
                    <div class="rte  pt-10 pb-30">
                        Lorem ipsum began as scrambled, nonsensical Latin derived from Cicero's 1st-century BC text De Finibus Bonorum et Malorum.
                    </div>
                </div>
            </div>
                        <div class = "item accordion">
                <h2 class="  "><div class="mr-15 accordion-title"><span>What are your payment and billing T&C's?</span></div> </h2>
                <div class="answer">
                    <div class="rte  pt-10 pb-30">
                         Lorem ipsum began as scrambled, nonsensical Latin derived from Cicero's 1st-century BC text De Finibus Bonorum et Malorum.
                    </div>
                </div>
            </div>
                        <div class = "item accordion">
                <h2 class="  "><div class="mr-15 accordion-title"><span>What if my sign is damaged in transit?</span></div> </h2>
                <div class="answer">
                    <div class="rte  pt-10 pb-30">
                        Lorem ipsum began as scrambled, nonsensical Latin derived from Cicero's 1st-century BC text De Finibus Bonorum et Malorum.
                    </div>
                </div>
            </div>
                        <div class = "item accordion">
                <h2 class="  "><div class="mr-15 accordion-title"><span>How do I hang / wall mount my neon light?</span></div> </h2>
                <div class="answer">
                    <div class="rte  pt-10 pb-30">
                         Lorem ipsum began as scrambled, nonsensical Latin derived from Cicero's 1st-century BC text De Finibus Bonorum et Malorum.
                    </div>
                </div>
            </div>
                        <div class = "item accordion">
                <h2 class="  "><div class="mr-15 accordion-title"><span>What if my sign is damaged in transit?</span></div> </h2>
                <div class="answer">
                    <div class="rte  pt-10 pb-30">
                        Lorem ipsum began as scrambled, nonsensical Latin derived from Cicero's 1st-century BC text De Finibus Bonorum et Malorum.
                    </div>
                </div>
            </div>
                        <div class = "item accordion">
                <h2 class="  "><div class="mr-15 accordion-title"><span>What if my sign is damaged in transit?</span></div> </h2>
                <div class="answer">
                    <div class="rte  pt-10 pb-30">
                        Lorem ipsum began as scrambled, nonsensical Latin derived from Cicero's 1st-century BC text De Finibus Bonorum et Malorum.
                    </div>
                </div>
            </div>
                        <div class = "item accordion">
                <h2 class="  "><div class="mr-15 accordion-title"><span>How do I hang / wall mount my neon light?</span></div> </h2>
                <div class="answer">
                    <div class="rte  pt-10 pb-30">
                        Lorem ipsum began as scrambled, nonsensical Latin derived from Cicero's 1st-century BC text De Finibus Bonorum et Malorum.
                    </div>
                </div>
            </div>
                        <div class = "item accordion">
                <h2 class="  "><div class="mr-15 accordion-title"><span>What if my sign is damaged in transit?</span></div> </h2>
                <div class="answer">
                    <div class="rte  pt-10 pb-30">
                         Lorem ipsum began as scrambled, nonsensical Latin derived from Cicero's 1st-century BC text De Finibus Bonorum et Malorum.
                    </div>
                </div>
            </div>
                        <div class = "item accordion">
                <h2 class="  "><div class="mr-15 accordion-title"><span>How do I hang / wall mount my neon light?</span></div> </h2>
                <div class="answer">
                    <div class="rte  pt-10 pb-30">
                       Lorem ipsum began as scrambled, nonsensical Latin derived from Cicero's 1st-century BC text De Finibus Bonorum et Malorum.
                    </div>
                </div>
            </div>
          </div>
    </div>


    
{% schema %}
{
  "name": "custom-neon-sign-faq",
  "settings": [

  ], 

"presets":[
{
  "name":"custom-neon-sign-faq",
"category":"shop"
}
]
}
{% endschema %}