<style>
  p.warning {
  text-align: center;
  line-height: 2;
  margin-bottom: 2rem;
}
p.warning a {
  background: #3bacff;
  color: #fff;
  padding: 0.2rem 0.7rem;
  border-radius: 3px;
  white-space: nowrap;
  text-decoration: none;
}
p.warning a.more {
  background: #45ba04;
}

.ootb-tabcordion {
  background: #fff;
  margin: 1rem auto 1rem auto;
  border-radius: 3px;
}
.ootb-tabcordion.has-tabs .ootb-tabcordion--tabs {
  opacity: 1;
  height: auto;
  visibility: visible;
   border-bottom: 2px solid #ff457c;
   justify-content: center;
}
.ootb-tabcordion.has-tabs .ootb-tabcordion--entry {
  min-height: 0;
}
.ootb-tabcordion.has-tabs .ootb-tabcordion--entry::before {
  display: none;
}
.ootb-tabcordion.has-tabs .ootb-tabcordion--entry.is-active .ootb-tabcordion--entry-content {
  opacity: 1;
  transition: opacity 400ms ease-in-out;
}
.ootb-tabcordion.has-tabs .ootb-tabcordion--entry .ootb-tabcordion--entry-content {
  opacity: 0;
  transition: opacity 400ms ease-in-out;
}
.ootb-tabcordion--tabs {
  opacity: 0;
  height: 0;
  visibility: hidden;
  display: flex;
  flex-flow: wrap;
  margin: 0;
  list-style: none;
  padding: 0;
}
.ootb-tabcordion--tabs .tab {
  display: block;
  color: #6d6d6d;
  padding: 17px 28px !important;
  border-radius: 3px;
  font-size: 16px;
  font-weight: 300;
  border: none;
  border-right: 1px solid #fff;
  cursor: pointer;
  background: #fff; 
  font-family: Montserrat;
}

.ootb-tabcordion--tabs .tab.is-active {
  background: #ff457c !important;
  color: #fff !important;
}

.ootb-tabcordion--entry {
  overflow: hidden;
}
.ootb-tabcordion--entry::before {
  position: relative;
  content: attr(data-title);
  cursor: pointer;
  z-index: 1;
  color: #000;
  padding: 2rem 0rem;
  display: block;
  border-radius: 3px;
}
.ootb-tabcordion--entry:hover, .ootb-tabcordion--entry:focus {
  outline: none;
}

.ootb-tabcordion--entry.is-active .ootb-tabcordion--entry-content {
  margin-top: 0;
  height: auto;
  opacity: 1;
  transition: margin 400ms ease-out -100ms;
}

.ootb-tabcordion--entry-container {
  overflow: hidden;
  margin-bottom: 1px;
}
.ootb-tabcordion--entry-content {
  position: relative;
  margin-top: -100%;
  height: 0;
  opacity: 0;
  transition: margin 500ms ease-in;
  padding: 1rem;
}
.ootb-tabcordion--entry-content a.more {
  color: #444;
}
.ootb-tabcordion--entry-content a.more:hover {
  color: #3bacff;
}

</style>
     <div class = "Whats-in-the-box custom">
   <h2>WHAT’S IN THE BOX</h2>
   <p>Every sign comes with a basic mounting kit for Trouble-Free installation.</p>
   <div class = "items-container">
      <div class = "item">
         <div class="svg">
            {% render 'right' %}
         </div>
         <div class="itemtext">
            LED Neon Sign
         </div>
      </div>
      <div class = "item">
         <div class="svg">
           {% render 'right' %}
         </div>
         <div class="itemtext">
            Installation Kit: Spacers/Standoffs or Hanging Chain
         </div>
      </div>
      <div class = "item">
         <div class="svg">
           {% render 'right' %}
         </div>
         <div class="itemtext">
            Power supply/Adapter
         </div>
      </div>
      <div class = "item">
         <div class="svg">
            {% render 'right' %}
         </div>
         <div class="itemtext">
            Led Dimmer (Optional)
         </div>
      </div>
      
   </div>
                  <div class = " image desktop">
                 <img src = "https://cdn.shopify.com/s/files/1/0587/7350/4182/files/Mask_Group_13.webp?v=1671173188">
                 </div>
                 <div class = "image mobile">
                 <img src = "https://cdn.shopify.com/s/files/1/0587/7350/4182/files/mobile.webp?v=1675159860">
                 </div>
</div>

 <div class = "main-scrolling-container why-choose product">
<section class = "font-container">
  <div class="marquee text-container enable-animation">
       <ul class = "marquee__content">
                 <li class="text-details" style = "color: #c5fc2a"><span>Why Us</span></li>  
                 <li class="text-details" style = "color: #c5fc2a"><span>Why Us</span></li>  
                 <li class="text-details" style = "color: #c5fc2a"><span>Why Us</span></li>  
                 <li class="text-details" style = "color: #c5fc2a"><span>Why Us</span></li>  
                 <li class="text-details" style = "color: #c5fc2a"><span>Why Us</span></li>  
                 <li class="text-details" style = "color: #c5fc2a"><span>Why Us</span></li>  
                 <li class="text-details" style = "color: #c5fc2a"><span>Why Us</span></li>  
                 <li class="text-details" style = "color: #c5fc2a"><span>Why Us</span></li>  
                 <li class="text-details" style = "color: #c5fc2a"><span>Why Us</span></li>  
                 <li class="text-details" style = "color: #c5fc2a"><span>Why Us</span></li>  
        </ul>

       <ul  aria-hidden="true" class="marquee__content">
                  <li class="text-details" style = "color: #c5fc2a"><span>Why Us</span></li>  
                 <li class="text-details" style = "color: #c5fc2a"><span>Why Us</span></li>  
                 <li class="text-details" style = "color: #c5fc2a"><span>Why Us</span></li>  
                 <li class="text-details" style = "color: #c5fc2a"><span>Why Us</span></li>  
                 <li class="text-details" style = "color: #c5fc2a"><span>Why Us</span></li>  
                 <li class="text-details" style = "color: #c5fc2a"><span>Why Us</span></li>  
                 <li class="text-details" style = "color: #c5fc2a"><span>Why Us</span></li>  
                 <li class="text-details" style = "color: #c5fc2a"><span>Why Us</span></li>  
                 <li class="text-details" style = "color: #c5fc2a"><span>Why Us</span></li>  
                 <li class="text-details" style = "color: #c5fc2a"><span>Why Us</span></li>    
        </ul>
  </div>
</section>
      <div class = "intro">
      <div class = "why-choose-us-image product-page page-width ">
          <div class = "details">
            <div class = "image-svg">
               {% render 'star' %}
            </div>
            <div class = "details-text">
          <span class = "name"><h2>USA's No.1 Neon Signs</h2></span>
          <span class = "descrition">Lorem ipsum dolor sit amet, consetetur sadipsc ing elitr, sed diam nonumy eirmod tempor invid unt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd guberg ren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem</span>
          </div>
          </div>
            <div class = "details">
            <div class = "image-svg">
               {% render 'warranty' %}
              </div>
            <div class = "details-text">
            <span class = "name"><h2>24 Months Warranty</h2></span>
          <span class = "descrition">Lorem ipsum dolor sit amet, consetetur sadipsc ing elitr, sed diam nonumy eirmod tempor invid unt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd guberg ren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem</span>
          </div>
          </div>
           <div class = "details">
            <div class = "image-svg">
               {% render 'secure-payment' %}
  </div>      
            <div class = "details-text">
            <span class = "name"><h2>100% Secure Payment</h2></span>
          <span class = "descrition">Lorem ipsum dolor sit amet, consetetur sadipsc ing elitr, sed diam nonumy eirmod tempor invid unt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd guberg ren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem</span>
          </div>
          </div>
           <div class = "details">
            <div class = "image-svg">
               {% render 'dimmer' %}
  </div>
            <div class = "details-text">
    
          <span class = "name"><h2>Free Remote and Dimmer</h2></span>
          <span class = "descrition">Lorem ipsum dolor sit amet, consetetur sadipsc ing elitr, sed diam nonumy eirmod tempor invid unt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd guberg ren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem</span>
          </div>
          </div>
            <div class = "details">
            <div class = "image-svg">
               {% render 'free-shipping' %}
          </div>
            <div class = "details-text">
          
        <span class = "name"><h2>Free Shipping</h2></span>
          <span class = "descrition">Lorem ipsum dolor sit amet, consetetur sadipsc ing elitr, sed diam nonumy eirmod tempor invid unt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd guberg ren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem</span>
          </div>
          </div>
           <div class = "details">
            <div class = "image-svg">
               {% render 'neon-sign' %}
          </div>
            <div class = "details-text">
          
    <span class = "name"><h2>Customized Neon Signs</h2></span>
          <span class = "descrition">Lorem ipsum dolor sit amet, consetetur sadipsc ing elitr, sed diam nonumy eirmod tempor invid unt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd guberg ren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem</span>
          </div>
          </div>
      </div>
      </div>
   </div>

<div class = "main-scrolling-container custom ">

<section class = "font-container">
  <div class="marquee text-container enable-animation">
     {% assign text_blocks = section.blocks | where: 'type', 'text' %}
       <ul class = "marquee__content">
                 <li class="text-details" style = "color: #c5fc2a"><span>10000+ Happy People</span></li>  
                 <li class="text-details" style = "color: #c5fc2a"><span>10000+ Happy People</span></li>  
                 <li class="text-details" style = "color: #c5fc2a"><span>10000+ Happy People</span></li>  
                 <li class="text-details" style = "color: #c5fc2a"><span>10000+ Happy People</span></li>  
                 <li class="text-details" style = "color: #c5fc2a"><span>10000+ Happy People</span></li>  
                 <li class="text-details" style = "color: #c5fc2a"><span>10000+ Happy People</span></li>  
        </ul>

      {% assign text_blocks = section.blocks | where: 'type', 'text' %}
       <ul  aria-hidden="true" class="marquee__content">
              <li class="text-details" style = "color: #c5fc2a"><span>10000+ Happy People</span></li>  
              <li class="text-details" style = "color: #c5fc2a"><span>10000+ Happy People</span></li>  
              <li class="text-details" style = "color: #c5fc2a"><span>10000+ Happy People</span></li>  
              <li class="text-details" style = "color: #c5fc2a"><span>10000+ Happy People</span></li>  
              <li class="text-details" style = "color: #c5fc2a"><span>10000+ Happy People</span></li>  
              <li class="text-details" style = "color: #c5fc2a"><span>10000+ Happy People</span></li>  
        </ul>
  </div>
</section>
</div>
<div class = "reviews-container custom-product">
{% render 'judgeme_widgets', widget_type: 'judgeme_review_widget', concierge_install: false, product: product %}
</div>

            <div class="container accordion-section container--sm faqs items"   style="background-color:  #f5fcff;">
        <h2 class = "faq-heading">FAQs</h2>
         <span class = "faq-description">Frequently Asked Questions</span>
          <div class = "accordion-container">
            <div class = "item accordion">
                <h2 class="  "><div class="mr-15 accordion-title"><span>How do I wall mount my neon light?</span></div> </h2>
                <div class="answer">
                    <div class="rte  pt-10 pb-30">
                        <p>Neon signs are placed on the wall with drilling holes and are fixed using spacers (Screws). Whereas A Wall hanging neon sign comes with a pre-assembled hanging chain used to place the product at the desired location, the length of the chain depends on the size ordered. Follow a few simple steps as given below:</p> 
                      <ul><li><b>Step 1</b><br>
Place your sign flat up against the desired space/ Wall. To determine the screw hole locations, mark the position of pre-drilled holes with the help of a marker or pencil. Once done, Put aside your neon sign (with the LED facing downward) on a safe cover to avoid any damage.
</li>
<li><b>Step 2</b><br>
Now that you are done marking the holes, Use a drill with a ¼” (6mm) drill bit to make the pilot holes accurately on the marked points. For maximum security, you can also use the drywall anchors and tap them into the wall using a hammer. 
</li>
<li><b>Step 3</b><br>
Unscrew the spacers/standoffs and place them against the pilot holes. Install the barrel on the wall with combination screws through the barrel into the drywall anchors.
</li>
<li><b>Step 4</b><br>
Now Align your sign and thread the studs to the barrels (place the smaller affixing screws through the hollow access by the edges of the sign and secure them across the hollow entry base (Barrel) to the wall).  
</li>
<li><b>Step 5</b><br>
Once your sign is placed and fixed securely on the surface, Connect your sign to the adapter/power supply and then into the wall plug-in. 
If you have opted for the Dimmer option, A connector must be provided to you for the same, link it with the sign and the power supply, secure the connections and your brand-new neon sign is all set to work! 
</li></ul>
                    </div>
                </div>
            </div>
                        <div class = "item accordion">
                <h2 class="  "><div class="mr-15 accordion-title"><span>What if I want a sign that I can't create using your custom tool?</span></div> </h2>
                <div class="answer">
                    <div class="rte  pt-10 pb-30">
                         CrazyNeon offers a multiplicity of options to choose from. If in any case, you are unable to create your choice of design using our design tool, you can upload the reference image or desription <a href="https://crazyneon.com/pages/upload-your-logo"><u>here</u></a> and fill out all the necessary details as required to get a free quote. You can also create your sign using the design tool and mention your requirements under the additional request section, one of our support executives will reach out to you for further assistance.
                    </div>
                </div>
            </div>
                        <div class = "item accordion">
                <h2 class="  "><div class="mr-15 accordion-title"><span>Are your LED neon lights battery-operated or do they plug in?</span></div> </h2>
                <div class="answer">
                    <div class="rte  pt-10 pb-30">
                        Neon signs work on a 12V dc power supply operated with standard Plug US Size. The order comes with the neon sign along with it a wall mounting kit, a 2m cable, and a power adapter. The length of the cord is usually 2m but we can modify the length as per requirement.
                    </div>
                </div>
            </div>
                        <div class = "item accordion">
                <h2 class="  "><div class="mr-15 accordion-title"><span>What if my sign is damaged in transit?</span></div> </h2>
                <div class="answer">
                    <div class="rte  pt-10 pb-30">
                    In the improbable event that your sign has been damaged in transit, we will ensure that a resolution is provided. We recommend opening your parcel upon delivery and firmly request you take an unboxing video for damage claims.
<br>Damage must be reported within <b>7 days of delivery*</b> of your Neon sign to be eligible for a replacement. Damage or faults reported after this time period will follow our general returns and refunds policy. 
<br><b>*Note:</b> The delivery date is the courier delivery date which can be found by following the prompts in your tracking email.
<br>If you believe your item has been damaged in transit and you are within the 7-day claim period please send an email to <b>hello@crazyneon.com</b> with all of the following:
<br><ul>
<li>A clear photo of the damage to the sign,</li>
<li>An unboxing video</li>
<li>Clear photos of the box & any damage to the outer box (From multiple directions including all the sides), </li>
<li>and a clear picture of the shipping label on the box.</li>
</ul>
<br>Failure to comply with this request and timeframe will void the Seller's obligations.
                    </div>
                </div>
            </div>
                        <div class = "item accordion">
                <h2 class="  "><div class="mr-15 accordion-title"><span>What are the backboard options?</span></div> </h2>
                <div class="answer">
                    <div class="rte  pt-10 pb-30"><ol>
<li><b>Cut to shape:</b> The acrylic backing, in this case, is contoured and shaped around the letter of the ordered <b>custom LED sign.</b></li>
<li><b>Cut to Letter:</b> The neon backboard style is somewhat similar to the former one but more precise and closely cut. The spaces between the letter are sharply hollowed out for a honed and clean appearance. </li>
<li><b>Full acrylic Backboard:</b> The rectangular or complete acrylic backing is always a sturdy and clean choice. This backboard type renders stability to your neon sign and is preferential with the block letters or with free-standing signs. </li>
</ol>
                    </div>
                </div>
            </div>
                        <div class = "item accordion">
                <h2 class="  "><div class="mr-15 accordion-title"><span>Can I use my new LED neon sign outdoors?</span></div> </h2>
                <div class="answer">
                    <div class="rte  pt-10 pb-30">
Neon Sign can be used outdoors with an extra waterproof coating but please note that the power supply or led remote dimmer are not waterproof. So it needs to be under a shed to protect it from direct water. 
                    </div>
                </div>
            </div>
                        <div class = "item accordion">
                <h2 class="  "><div class="mr-15 accordion-title"><span>How long does custom neon sign creation take?</span></div> </h2>
                <div class="answer">
                    <div class="rte  pt-10 pb-30">
Once the order is placed, a neon sign usually takes 3-5 business days for production and shipment, additional 3-8 Business days during transit for delivery. After submission of the custom tool form, the mockup and design is usually presented to you within 24-72 Hours.
                    </div>
                </div>
            </div>
                        <div class = "item accordion">
                <h2 class="  "><div class="mr-15 accordion-title"><span>Why LED Neon signs are better?</span></div> </h2>
                <div class="answer">
                    <div class="rte  pt-10 pb-30">
<b>Neon signs</b> provide a prodigiously high utility to an establishment, as they notice a substantial shift with such advertising due to increased market visibility. LED Signs have appealing features along with their undemanding affordability entailed by prominent efficiency. The conventionally used Neon signs are primarily made with stretched-out effulgent gas-discharge tubes that have been heated and bent into various shapes and letters.  Glass Neon signs give an aesthetically mild glow but their high maintenance and low affordability are the reasons that attenuated their commerciality. 
                    </div>
                </div>
            </div>
                        <div class = "item accordion">
                <h2 class="  "><div class="mr-15 accordion-title"><span>What if I want a sign that is partially neon?</span></div> </h2>
                <div class="answer">
                    <div class="rte  pt-10 pb-30">
We offer UV-printed signs, UV-printed Neon signs, 3D Acrylic Signs, Illuminator Luxury Signs, and Neon Signs. You can send us the reference image and our designers will provide you with the best design and mockup for the same. In case you need a partial neon sign, we can create a combination of the above-mentioned signs using lightweight LED. 
                    </div>
                </div>
            </div>
                        <div class = "item accordion">
                <h2 class="  "><div class="mr-15 accordion-title"><span>How big can my Neon sign be?</span></div> </h2>
                <div class="answer">
                    <div class="rte  pt-10 pb-30">
Our LED Neon is available in 6/8mm thickness, and the minimum letter height is approximately 3-4 inches for non-cursive fonts and cursive fonts. Size of a single piece neon sign can be maximum of 92" x 48" as that is the maximum size of the backboard. However we can create larger sizes by combining two or more easy to assemble pieces. We usually create textutal signs in two or more pieces which are larger than 45 inches in lenght to avoid breakage and optimize landing price for our customers.
                    </div>
                </div>
            </div>
          
          </div>
    </div>

{% schema %}
{
  "name": "custom-page-tabber",
  "settings": [

  ], 

"presets":[
{
  "name":"custom-page-tabber",
"category":"shop"
}
]
}
{% endschema %}
<script>
  (function () {
	'use strict';

  const keyboardSupport = function(container, hasTabs) {
    const tablist = container.querySelectorAll('[role="tablist"]')[0];
    let tabs;
    let panels;

    const generateArrays = function() {
      panels = container.querySelectorAll('[role="tabpanel"]');
      tabs = container.querySelectorAll('[role="tab"]');
    };
    
    generateArrays();

    // For easy reference
    const keys = {
      end: 35,
      home: 36,
      left: 37,
      up: 38,
      right: 39,
      down: 40,
      delete: 46,
      enter: 13,
      space: 32
    };

    // Add or subtract depending on key pressed
    const direction = {
      37: -1,
      38: -1,
      39: 1,
      40: 1
    };

    // Deactivate all tabs and tab panels
    const deactivateTabs = function() {
      for (let t = 0; t < tabs.length; t++) {
        tabs[t].setAttribute('tabindex', '-1');
        tabs[t].setAttribute('aria-selected', 'false');
      }
    };
    
    // Activates any given tab panel
    const activateTab = function(tab, setFocus) {
      setFocus = setFocus || true;
      // Deactivate all other tabs
      deactivateTabs();

      // Remove tabindex attribute
      tab.removeAttribute('tabindex');

      // Set the tab as selected
      tab.setAttribute('aria-selected', 'true');

      // Set focus when required
      if (setFocus) {
        tab.focus();
      }
    };
    
    const triggerTabClick = function(e) {
      const clickedId = e.target.getAttribute('id');
      if(clickedId) {
        const clickedTab = container.querySelector('[aria-controls="' + clickedId + '"]');
        clickedTab.click();
         document.getElementById(clickedId).scrollIntoView({
          behavior: 'smooth'
        });
      }
    };
    
    const accordionClickEventListener = function(event) {
      triggerTabClick(event);
    };
    
    // When a tab is clicked, activateTab is fired to activate it
    const clickEventListener = function(event) {
       const tab = event.target;
        activateTab(tab, false);
    };
    
    // Make a guess
    const focusFirstTab = function() {
      const target = hasTabs ? tabs : panels;
      target[0].focus();
    };

    // Make a guess
    const focusLastTab = function() {
      const target = hasTabs ? tabs : panels;
      target[target.length - 1].focus();
    };
    
    // Either focus the next, previous, first, or last tab
    // depending on key pressed
    const switchTabOnArrowPress = function(event) {
      const pressed = event.keyCode;

      if (direction[pressed]) {
        const target = event.target;
        const targetElems = hasTabs ? tabs : panels;
        if (target.index !== undefined) {
          if (targetElems[target.index + direction[pressed]]) {
            targetElems[target.index + direction[pressed]].focus();
          }
          else if (pressed === keys.left || pressed === keys.up) {
            focusLastTab();
          }
          else if (pressed === keys.right || pressed == keys.down) {
            focusFirstTab();
          }
        }
      }
    };
    
    // When a tablist's aria-orientation is set to vertical,
    // only up and down arrow should function.
    // In all other cases only left and right arrow function.
    const determineOrientation = function(event) {
      const key = event.keyCode;
      const vertical = tablist ? tablist.getAttribute('aria-orientation') === 'vertical' : null;
      let proceed = false;

      if (vertical || !hasTabs) {
        if (key === keys.up || key === keys.down) {
          event.preventDefault();
          proceed = true;
        }
      }
      else {
        if (key === keys.left || key === keys.right) {
          proceed = true;
        }
      }

      if (proceed) {
        switchTabOnArrowPress(event);
      }
    };
    
    // Handle keydown on tabs
    const keydownEventListener = function(event) {
      const key = event.keyCode;
      switch (key) {
        case keys.end:
          event.preventDefault();
          // Activate last tab
          focusLastTab();
          break;
        case keys.home:
          event.preventDefault();
          // Activate first tab
          focusFirstTab();
          break;

          // Up and down are in keydown
          // because we need to prevent page scroll >:)
          case keys.up:
          case keys.down:
          determineOrientation(event);
          break;
      }
    };

    // Handle keyup on tabs
    const keyupEventListener = function(event) {
      const key = event.keyCode;
      switch (key) {
        case keys.left:
        case keys.right:
          determineOrientation(event);
          break;
        case keys.enter:
        case keys.space:
          if(hasTabs) {
            activateTab(event.target);
          } else {
            triggerTabClick(event);
          }
          break;
      }
    };

    const addListeners = function(index) {
      const target = hasTabs ? tabs[index] : panels[index];
      tabs[index].addEventListener('click', clickEventListener);
      if(target) {
         if(!hasTabs) {
          target.addEventListener('click', accordionClickEventListener);
        }
        target.addEventListener('keydown', keydownEventListener);
        target.addEventListener('keyup', keyupEventListener);
        // Build an array with all tabs (<button>s) in it
        target.index = index;
      }    
    };

    // Bind listeners
    for (let i = 0; i < tabs.length; ++i) {
      addListeners(i);
    }
   
    // Accordion mode
    if(!hasTabs) {
      for (const panel of panels) {
        panel.onclick = function(e) {
          triggerTabClick(e);
        };
      }
    }   
};
  
	const toggleClass = function (otherElems, thisELem, className = 'is-active') {
		for (const otherElem of otherElems) {
			otherElem.classList.remove(className);
		}
		thisELem.classList.add(className);
	};
  
  const toggleVerticalTabs = function (tabContainer, tabs, items, item) {
    item.onclick = function (e) {
				const currId = item.getAttribute('id');
				const tab = tabContainer.querySelector('.ootb-tabcordion--tabs [aria-controls="' + currId + '"]');
				toggleClass(tabs, tab);
				toggleClass(items, item);
			};
  };
  
	const toggleTabs = function (tabContainer) {
		const tabs = tabContainer.querySelectorAll('.ootb-tabcordion--tabs .tab');
		const items = tabContainer.querySelectorAll('.ootb-tabcordion--entry');
		for (const tab of tabs) {
      tab.onclick = function() {
        const target = tab.getAttribute('aria-controls');
        const content = document.getElementById(target);
        toggleClass(tabs, tab);
        toggleClass(items, content);
      };
		}
		for (const item of items) {
			toggleVerticalTabs(tabContainer, tabs, items, item);
		}
	};

  const hasTabs = function(container) {
    return container.classList.contains('has-tabs');
  };
  
	const modeSwitcher = function (tabContainer, containerWidth) {
		const tabs = tabContainer.querySelectorAll('.tab');
    const container = tabs[0].closest('.ootb-tabcordion');
		let totalW = 0;
		for (const tab of tabs) {
			totalW += tab.offsetWidth;
		}
		if (totalW >= containerWidth) {
			container.classList.remove('has-tabs');
		} else {
			container.classList.add('has-tabs');
		}
    keyboardSupport(tabContainer, hasTabs(container));
	};
	
	const resizeObserver = new ResizeObserver(entries => {
		for (let entry of entries) {
			modeSwitcher(entry.target, entry.contentRect.width);
		}
	});

	const tabContainers = document.querySelectorAll('.ootb-tabcordion');
	for (const tabContainer of tabContainers) {
		const tabList = tabContainer.querySelector('.ootb-tabcordion--tabs');
		resizeObserver.observe(tabList);
		toggleTabs(tabContainer);
    keyboardSupport(tabContainer, hasTabs(tabContainer));
	}
})();
</script>
